<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Horse Show</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/">Entry Fee Calculator</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/settings">Settings</a>
                    </li>                
                </ul>
            </div>    
        </nav>
    </header>
    <main role="main" class="row">
        <div class="col-12 col-md-8 col-md-offset-2 pt-3">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>

